<!-- <p>books-book works!</p> -->
<div class="container-fluid">
  <h3>Books</h3>
  <p>Buy all kinds of books online from Odyssey. Including Fiction, Nonfiction, Self-help, Biographies, Management, etc.</p> <p>There is also a good range of Children's and Young adult titles. We also have all popular Tamil novels.</p>
  <hr/>
  
  <div class="title">
  <!-- <p>Showing 1-24 of 24330 products</p>
  <p>Display:24 per pages</p> -->
  </div>
  
  <div class="container">
      <div class="row">
        @for(book of books;track book.id){

          <div class="column">
            <button class="btn btn-danger" *ngIf="book.discountPercentage">Save{{book.discountPercentage}}%</button>
            <img src="{{book.imgURL}}" alt="Snow" style="width:100%">
            <p>{{book.title}}</p>
            <br/>
            <!-- <p><span style="color:#088c39;"><h5>Rs.{{book.discountedPrice}}</h5></span></p> <p><del><small>Rs.{{book.price}}</small></del></p> -->
            <a href ="/cart" class="btn btn-danger">Addtocart</a> 
            <!-- <button class="btn btn-danger">Add to cart</button> -->
          </div>
        }
          
          <!-- <div class="column">
            <button class="btn btn-danger">Save15%</button>
            <img src="https://odyssey.in/cdn/shop/files/9780571284047_300x.jpg?v=1730297410" alt="Snow" style="width:100%">
            <p>HULLABALOO IN THE GUAVA ORCHARD</p>
            <p><span style="color:#088c39;"><h5>Rs.468</h5></span></p> <p><del><small>Rs.599</small></del></p>
            <button class="btn btn-danger">Add to cart</button>
          </div>

          <div class="column">
            <button class="btn btn-danger">Save15%</button>
            <img src="https://odyssey.in/cdn/shop/files/9780140127232_bd397b23-a5fa-4302-8207-ef3d9838b736_300x.jpg?v=1730297199" alt="Snow" style="width:100%">
           <p>THAT LONG SILENCE</p>
           <p><span style="color:#088c39;"><h5>Rs.213</h5></span></p> <p><del><small>Rs.250</small></del></p>
           </div>
  
    <div class="column">
      <button class="btn btn-danger">Save15%</button>
      <img src="https://odyssey.in/cdn/shop/files/9780571260645_300x.jpg?v=1730296934" alt="Snow" style="width:100%">
      <p>DIFFICULT DAUGHTERS</p>
      <p><span style="color:#088c39;"><h5>Rs.468</h5></span></p> <p><del><small>Rs.550</small></del></p>
    </div>
  
    <div class="column">
      <button class="btn btn-danger">Save15%</button>
      <img src="https://odyssey.in/cdn/shop/files/9789350292105_130x.jpg?v=1730296649" alt="Snow" style="width:100%">
      <p>THE TWENTIETH WIFE</p>
      <p><span style="color:#088c39;"><h5>Rs.424</h5></span></p> <p><del><small>Rs.499</small></del></p>
    </div>
  
    <div class="column">
      <button class="btn btn-danger">Save15%</button>
      <img src="https://odyssey.in/cdn/shop/files/9780143423904_c44af3d7-d2fc-4f1a-97a2-0bdeb053e8ed_300x.jpg?v=1730296358" alt="Snow" style="width:100%">
      <p>THE INHERITANCE OF LOSS</p>
      <p><span style="color:#088c39;"><h5>Rs.339</h5></span></p> <p><del><small>Rs.399</small></del></p>
    </div>
  
    <div class="column">
      <button class="btn btn-danger">Save15%</button>
      <img src="https://odyssey.in/cdn/shop/files/9780674295988_300x.jpg?v=1730292409" alt="Snow" style="width:100%">
      <p>TATA THE GLOBAL CORPORATION</p>
      <p><span style="color:#088c39;"><h5>Rs.509</h5></span></p> <p><del><small>Rs.599</small></del></p>
    </div>
  
    <div class="column">
      <button class="btn btn-danger">Save15%</button>
      <img src="https://odyssey.in/cdn/shop/files/9789385827297_5d92ea3a-aee3-4eee-bbd3-bb389bba4667_300x.jpg?v=1730291635" alt="Snow" style="width:100%">
      <p>THE WIT AND WISDOM OF RATAN TATA</p>
      <p><span style="color:#088c39;"><h5>Rs.339</h5></span></p> <p><del><small>Rs.399</small></del></p>
  <button type="button" class="btn btn-danger">Danger</button> -->
  
    </div> 
    <!-- <button type="button" class="btn btn-danger">Danger</button> -->
  
  
  
  
  
  
  
  
    </div>
    
  </div>
 