 <br/><br/><br/><br/><br/><br/>
 <bk-page title="Books">
  
   

<div class="row">
  <div class="card col-2">

<h2>Filter:</h2>

<form (ngSubmit)="applyFilter()">

  <div>
<label for ="language">Language:</label>&nbsp;
<select name="language" [(ngModel)]="language"><br/>
  <option>Tamil</option>
  <option>Hindi</option>
  <option>English</option>    
  </select>
</div>

<br/>
<div>
<label for ="bookType">BookType:</label>&nbsp;
   <select name="bookType" [(ngModel)]="bookType">
  <option>Story Book</option>
  <option>Children's Book</option>
  <option>Crime Fiction</option>
  <option>Science Fiction & Fantasy</option>
 </select>
  </div>
  &nbsp;

  <div>
    <label for="price">Price Range:</label>&nbsp;
    <input type="number" name="minPrice" id="minPrice" [(ngModel)]="minPrice" placeholder="Enter minPrice"><br/>

  <br/>
    <input type="number" name="maxPrice" id="maxPrice" [(ngModel)]="maxPrice" placeholder="Enter maxPrice"><br/>
    &nbsp;&nbsp;&nbsp;


  </div>

<button type="submit" class="btn btn-outline-success">Submit</button>&nbsp;
<button type="reset" class="btn btn-danger" (click)= "reset()">Reset</button>
</form>
</div>
 
    <br/>
    <div class="card col-9">
        <div class="row">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              
              <li class="breadcrumb-item"><a routerLink="/home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-add-fill" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 1 1-1 0v-1h-1a.5.5 0 1 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                  <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
                <i class=" bi bi house-door-fill"></i>Home:</a></li>
                &nbsp;
                <li class="breadcrumb-item">&nbsp;<a routerLink="/books">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                  </svg>
                <i class="bi bi-camera-reels-fill"></i>Books </a></li>
                &nbsp; &nbsp; &nbsp;
               
                  
            </ol>
            </nav>
            
                
<br/><br/><br/><br/>
<div class="row">
        @for(b of books;track b){
         <app-book-card [book]="b" class="col-3">
  
         </app-book-card>

        }
      </div>     
   </div> 
    <!-- </bk-page> -->

    </div>   
 