<!-- <p>view-book works!</p> -->
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>BOOKS NEW-ARRIVALS</h2>
        <button class="btn btn-warning">BROWSE HERE</button>
        <div clas="body">
<div class="gallery">
    <img src="https://odyssey.in/cdn/shop/files/9780143467113_500x.jpg?v=1722321549"  width="150px" height="200px">
  
  <div class="desc">WOMAN ON SUITCASE
  <p>Rs.340 </p>
</div>
</div>

<div class="gallery">
    <img src="https://odyssey.in/cdn/shop/files/9780063298460_500x.jpg?v=1722251433" width="150px" height="200px">
    <div class="desc">I need this
  <p>Rs.893 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/1720611253BusinessSustainability_500x.jpg?v=1722147638" width="150px" height="200px">
  <div class="desc">BUSINESS SUSTAINABILITY
<p>Rs.2000 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/9789354718472_305x.jpg?v=1719045930" width="150px" height="200px">
  <div class="desc">WHATEVER AFTER 
<p>Rs.553 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div>

<!-- 
<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div>

<div class="gallery">
  <img src="https://odyssey.in/cdn/shop/files/ramayanam_500x.jpg?v=1720763510" width="150px" height="200px">
  <div class="desc">RAMAYANAM
<p>Rs.595 </p>
</div>
</div> -->

<!-- 
</div>
        <img src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div> 
  </div> -->

