<!-- <p>view-book works!</p> -->
<div class="container-fluid">
<h1>Books - {{book?.title}}</h1>
<!-- <bk-page title="{{book?.title}}"> -->
  <br/>
<div class="row">
  @if(book){
    <div class="card col-3 book-card">
      <img src="{{book.imgUrl}}" class="card-img-top" alt="">
      <div class="card-body">
      <h4 span class="card-title">{{book.title}}</h4>
      <!-- <span class="badge text-bg-warning">{{book.description}}</span><br/> -->
      <span class="badge text-bg-success">{{book.language}}</span>&nbsp;

<app-badge color="green">{{book.price | currency:'INR'}}</app-badge >
<br/><br/>
  <a routerLink= "{{book.title}}" class="btn btn-info">Buy your Favourite Books</a>
  <br/>
  <a class="btn btn-danger"(click)="addToCart(book)">Add To Cart</a>
      </div>


    </div>
  }
</div>

<!-- </bk-page> -->
 
 
