<!-- <p>view-book works!</p> -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>BOOKS NEW-ARRIVALS</h2>
        <button class="btn btn-secondary">BROWSE HERE</button>
        <div clas="body">
<div class="gallery">
    <img src="https://odyssey.in/cdn/shop/files/9780143467113_500x.jpg?v=1722321549"  width="250px" height="300px">
  
  <div class="desc">WOMAN ON SUITCASE</div>
  <p>Rs.340 </p>
</div>

<div class="gallery">
    <img src="https://odyssey.in/cdn/shop/files/KATEYOUNG_500x.jpg?v=1721455342" width="250px" height="300px">
    

  <div class="desc">Add a description of the image here</div>
</div>
<!-- 
</div>
        <img src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div> -->
    </div>
  </div>

